.main {
    height: auto;
    width: auto;
    margin: 0px;
    padding: 50px;

div.contenido {
    height: 800px;
    text-align: left;
    color: whitesmoke;
    font-size: 50 PX;
    background-image: url("/IMG/WhatsApp\ Image\ 2023-04-22\ at\ 10.23.55\ PM.jpeg");
    background-size: cover;
    width: 100%;
    margin: 0px;
    padding: 5px;

    .contenedor-max {
        margin: 20px;
        max-width: 500px;
        padding: 5px;
        align-items: center;
        font-size: large;
        text-align: center;
        color: whitesmoke;
    }

    h2 {
        text-align: center;
        color: whitesmoke;
    }

}
}