
main {
    .formulario {

        text-align: center;
        background-color: black;
        color: whitesmoke;
        font-size: x-large;

        fieldset {
            div {
                label {
                    input {

                        text-align: center;
                        background-color: whitesmoke;

                    }
                }
            }
        }
    }

}
